#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header div{
  font-size: 20px;
  font-weight: bold;
}

.nav a{
  margin: 0 20px;
  font-size: 18px;
}

footer p{
  font-weight: bold;
}